.services-section{
    background-color: white;
}
.service-card {
    opacity: 0;
    transform: rotateY(90deg);
    transition: all 0.6s ease;
    color:#012A4A;
}

.service-card.show {
    opacity: 1;
    transform: rotateY(0deg);
}
.service-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}
h2{
    color:#012A4A;
}
.suTitle{
    font-size: 1rem;
    color: #012A4A;
    font-weight: 600;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    backdrop-filter: blur(2px);
}

.modal-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    animation: popIn 0.25s ease-out;
}

/* Animation */
@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

