.contact-info {
    background-color: #002b5b;
}

.btn-primary {
    background-color: #002b5b !important;
    border: none;
}

.btn-primary:hover {
    background-color: #004080 !important;
}

.contact-card {
    border-radius: 15px;
}
.contact-info {
    background-color: #002b5b ;
    position: relative;
    overflow: hidden;
}

/* Gradient Circle decoration */
.contact-info::after {
    content: "";
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, #4da6ff, #002b5b);
    border-radius: 50%;
    opacity: 0.4;
}
.contact-info::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -50px;
    width: 140px;
    height: 140px;
    background: radial-gradient(circle at center, #9fd3ff, #005fa3);
    border-radius: 50%;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .contact-info {
        border-radius: 12px 12px 0 0;
    }
}
